.top-head {
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $mainColor;
    }
}

.breadcrumbs {

    display: flex;
    gap: 6px;

    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $breadcrumbsLink;
        cursor: pointer;

        &:not(:last-child)::after {
            content: "/";
            margin-left: 6px;
        }

        &__site {
            font-weight: 700;
            color: $mainColor;
        }
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .top-head {
        flex-direction: column;
        gap: 32px;
        padding-top: 50px;
        padding-bottom: 70px;
        justify-content: center;

        &_two-string {
            padding-top: 24px;
            padding-bottom: 46px;
        }
    }
}