$widthSite: 1140px;
$mainColor: #F16D7F;
$mainDark: #222;
$mainLight: #FFF;
$catalogHeading: #9F9F9F;
$promoBackground: #F1E4E6;
$catalogCartBackground: #F8F8F8;
$catalogCartName: #000;
$catalogDescription: #5D5D5D;
$buttonBrowseBackgroundActive: #E1E1E1;
$advantagesItem: $catalogCartBackground;
$subscribeRightFormInputBackground: $buttonBrowseBackgroundActive;
$footerText: #F8F8F8;
$mainFont: 'Lato';
$breadcrumbsLink: #636363;
$fullBlackText: $catalogCartName;
$buttonFeatureColor: #6F6E6E;
$paginationShrinkColor: #EBEBEB;